# Set One (-1 bars excluded)

In [39]:
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
df =  pd.read_csv('bar_data_03-2023_thru_07-2023.csv')
df.head(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist
0,2023-03-01 09:38:11,0,2023-03-01 09:38:11,M,3963.50,0,177,3963.75,245,163,3964.00,280,118,3964.25,532,300,3964.50,601,354,3964.75,685,70,3965.00,332,0,3963.75,3965.00,3963.50,3965.00,11.75,9.00
1,2023-03-01 09:38:30,-1,2023-03-01 09:38:11,M,3965.25,74,0,3965.50,136,0,3965.75,103,111,3966.00,213,720,3966.25,1144,763,3966.50,678,116,3966.75,88,0,3965.25,3966.75,3965.25,3966.75,11.75,9.00
2,2023-03-01 09:40:46,0,2023-03-01 09:40:46,M,3964.75,0,107,3965.00,281,28,3965.25,41,76,3965.50,203,139,3965.75,167,225,3966.00,298,66,3966.25,326,0,3965.75,3966.25,3964.75,3966.25,9.25,11.25
3,2023-03-01 09:40:51,-1,2023-03-01 09:40:46,M,3966.50,279,10,3966.75,239,264,3967.00,424,55,3967.25,285,6,3967.50,162,0,3967.75,30,0,3968.00,106,0,3966.50,3968.00,3966.50,3968.00,9.25,11.25
4,2023-03-01 09:55:32,0,2023-03-01 09:55:32,M,3966.25,0,24,3966.50,51,247,3966.75,385,315,3967.00,261,347,3967.25,310,349,3967.50,450,258,3967.75,59,0,3966.50,3967.75,3966.25,3967.75,9.25,10.25
5,2023-03-01 09:56:12,1,2023-03-01 09:55:32,M,3967.50,0,21,3967.75,25,239,3968.00,385,275,3968.25,444,90,3968.50,171,239,3968.75,147,59,3969.00,91,0,3968.00,3969.00,3967.50,3967.50,9.25,10.25
6,2023-03-01 09:57:00,2,2023-03-01 09:55:32,M,3966.75,0,74,3967.00,27,87,3967.25,0,144,3967.50,299,369,3967.75,320,223,3968.00,122,11,3968.25,3,0,3967.25,3968.25,3966.75,3966.75,9.25,10.25
7,2023-03-01 09:57:15,3,2023-03-01 09:55:32,M,3966.25,0,53,3966.50,0,170,3966.75,89,87,3967.00,88,144,3967.25,104,29,3967.50,40,8,3967.75,7,0,3966.50,3967.75,3966.25,3966.25,9.25,10.25
8,2023-03-01 09:57:34,4,2023-03-01 09:55:32,M,3965.00,0,243,3965.25,1,140,3965.50,7,197,3965.75,1,235,3966.00,126,616,3966.25,487,220,3966.50,89,0,3966.00,3966.50,3965.00,3965.00,9.25,10.25
9,2023-03-01 09:57:47,5,2023-03-01 09:55:32,M,3964.25,0,46,3964.50,35,122,3964.75,53,510,3965.00,319,108,3965.25,88,9,3965.50,31,0,3965.75,63,0,3964.75,3965.75,3964.25,3965.75,9.25,10.25

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495 entries, 0 to 11494
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bar_time    11495 non-null  object
 1   bar_number  11495 non-null  int64
 2   block_id    11495 non-null  object
 3   type        11495 non-null  object
 4   price0      11495 non-null  float64
 5   buy0        11495 non-null  int64
 6   sell0       11495 non-null  int64
 7   price1      11495 non-null  float64
 8   buy1        11495 non-null  int64
 9   sell1       11495 non-null  int64
 10  price2      11495 non-null  float64
 11  buy2        11495 non-null  int64
 12  sell2       11495 non-null  int64
 13  price3      11495 non-null  float64
 14  buy3        11495 non-null  int64
 15  sell3       11495 non-null  int64
 16  price4      11495 non-null  float64
 17  buy4        11495 non-null  int64
 18  sell4       11495 non-null  int64
 19  price5      11495 non-null  float64
 20  buy5        11495 non-null  int64
 21  sell5       11495 non-null  int64
 22  price6      11495 non-null  float64
 23  buy6        11495 non-null  int64
 24  sell6       11495 non-null  int64
 25  open        11495 non-null  float64
 26  high        11495 non-null  float64
 27  low         11495 non-null  float64
 28  close       11495 non-null  float64
 29  upper_dist  11495 non-null  float64
 30  lower_dist  11495 non-null  float64
dtypes: float64(13), int64(15), object(3)
memory usage: 2.7+ MB

In [41]:
df['bar_buy_vol'] = df['buy0']
df['bar_sell_vol'] = df['sell0']

for idx in range(1,7):
    df['bar_buy_vol'] += df[f'buy{idx}']
    df['bar_sell_vol'] += df[f'sell{idx}']

df['bar_total_vol'] = df['bar_buy_vol'] + df['bar_sell_vol']

for i in df.index:
    block_df = df[df.block_id == df.loc[i,'block_id']]

    grouped_block_buy_vol = block_df[block_df.bar_number != -1]['bar_buy_vol'].sum()
    grouped_block_sell_vol = block_df[block_df.bar_number != -1]['bar_sell_vol'].sum()

    total_block_vol = grouped_block_buy_vol + grouped_block_sell_vol

    df.loc[i,'bock_buy_vol'] = grouped_block_buy_vol
    df.loc[i,'bock_sell_vol'] = grouped_block_sell_vol
    df.loc[i,'bock_total_vol'] = total_block_vol

In [42]:
# Initialize an empty dictionary to store volume profiles for different blocks.
block_vol_profiles = {}

# Iterate through unique block IDs in the DataFrame.
for block in df.block_id.unique():
    # Create an empty DataFrame to store the volume profile for the current block.
    block_vol_profile = pd.DataFrame()
    
    # Filter the DataFrame to include only rows with the current block ID.
    block_df = df[df.block_id == block]
    
    # Remove rows with bar_number equal to -1.
    block_df = block_df[block_df.bar_number != -1]
    
    # Create a dictionary to store prices for each bar.
    bar_prices = {}
    
    # Iterate through unique bar numbers in the current block DataFrame.
    for bar_number in block_df.bar_number:
        # Extract prices, buy volumes, and sell volumes for the current bar.
        prices = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'price' in col]].T.iloc[:, 0].to_list()
        buys = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'buy' in col and '_' not in col]].T.iloc[:, 0].to_list()
        sells = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'sell' in col and '_' not in col]].T.iloc[:, 0].to_list()
        
        # Iterate through prices, buy volumes, and sell volumes simultaneously.
        for price, buy, sell in zip(prices, buys, sells):
            try:
                # Try to add the buy volume to the existing entry for the given price.
                block_vol_profile.loc[price, 'buy'] += buy
            except:
                # If the entry doesn't exist, create it and set the buy volume.
                block_vol_profile.loc[price, 'buy'] = buy
                
            # Fill any missing values with zero and calculate the total volume.
            block_vol_profile.fillna(0, inplace=True)
            
            try:
                # Try to add the sell volume to the existing entry for the given price.
                block_vol_profile.loc[price, 'sell'] += sell
            except:
                # If the entry doesn't exist, create it and set the sell volume.
                block_vol_profile.loc[price, 'sell'] = sell
                
            # Update the total volume entry for the current price.
            try:
                block_vol_profile.loc[price, 'total_vol'] += buy + sell
            except:
                block_vol_profile.loc[price, 'total_vol'] = buy + sell
        
    # Fill any remaining missing values with zero, reset the index, and rename the index column.
    block_vol_profile.fillna(0, inplace=True)
    block_vol_profile.reset_index(inplace=True)
    block_vol_profile.rename(columns={'index': 'prices'}, inplace=True)
    
    # Store the volume profile for the current block in the dictionary.
    block_vol_profiles[block] = block_vol_profile

In [43]:
block_vol_profiles['2023-07-31 14:59:28']

     prices     buy    sell  total_vol
0   4611.50   173.0   462.0      635.0
1   4611.75   323.0   327.0      650.0
2   4612.00   438.0  4666.0     5104.0
3   4612.25  2367.0  2167.0     4534.0
4   4612.50  2056.0  3178.0     5234.0
5   4612.75  1682.0   888.0     2570.0
6   4613.00  1454.0   339.0     1793.0
7   4611.25     0.0     2.0        2.0
8   4613.25   278.0    94.0      372.0
9   4613.50  1258.0  1002.0     2260.0
10  4613.75  1347.0     0.0     1347.0
11  4614.00   370.0     0.0      370.0

In [44]:
import os

for block, profile in block_vol_profiles.items():
    profile['block_id'] = block
    profile.to_csv(os.path.join('profiles', f'{block.replace(":", "-")}.csv'), index=False)

In [45]:
# Iterate through rows in the original DataFrame.
for idx in range(len(df)):
    # Get the block ID for the current row.
    block_id = df.loc[idx, 'block_id']
    
    # Retrieve the volume profile DataFrame for the current block.
    block_profile = block_vol_profiles[block_id]
    
    # Find the maximum total volume in the volume profile.
    max_price = block_profile.total_vol.max()
    
    # Update the original DataFrame with buy volume, sell volume, and volume difference at the highest total volume price.
    df.loc[idx, 'buy_vol_at_high_price'] = block_profile[block_profile.total_vol == max_price].buy.iloc[0]
    df.loc[idx, 'sell_vol_at_high_price'] = block_profile[block_profile.total_vol == max_price].sell.iloc[0]
    df.loc[idx, 'vol_diff_at_high_price'] = df.loc[idx, 'buy_vol_at_high_price'] - df.loc[idx, 'sell_vol_at_high_price']

In [46]:
df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,1619.0,1881.0,3500.0,369.0,477.0,-108.0
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,1619.0,1881.0,3500.0,369.0,477.0,-108.0
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,1353.0,1776.0,3129.0,256.0,1042.0,-786.0
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,1353.0,1776.0,3129.0,256.0,1042.0,-786.0
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0

In [47]:
close_directions = {}

for block in df.block_id.unique():
    block_df = df[df.block_id == block]
    block_df = block_df[block_df.bar_number != -1]
    bar_number = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'bar_number']
    close_direction = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'close'] - block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'open']
    if close_direction > 0 :
        close_directions[block] = ['Up', bar_number]
    elif close_direction < 0:
        close_directions[block] = ['Down', bar_number]
    else:
        close_directions[block] = ['Equal', bar_number]


close_directions_2 = {}

for block in df.block_id.unique():
    block_df = df[df.block_id == block]
    block_df = block_df[block_df.bar_number != -1]
    if len(block_df.sort_values(by='bar_total_vol', ascending=False).reset_index()) > 1:
        bar_number = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'bar_number']
        close_direction = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'close'] - block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'open']
        if close_direction > 0 :
            close_directions_2[block] = ['Up', bar_number]
        elif close_direction < 0:
            close_directions_2[block] = ['Down', bar_number]
        else:
            close_directions_2[block] = ['Equal', bar_number]

In [48]:
for i in range(len(df)):
    block = df.loc[i,'block_id']
    df.loc[i, 'close_direction_highest'] = close_directions[block][0]
    df.loc[i, 'bar_with_greatest_total_vol'] = close_directions[block][1]
    try:
        df.loc[i, 'close_direction_2nd_highest'] = close_directions_2[block][0]
        df.loc[i, 'bar_with_2nd_greatest_total_vol'] = close_directions_2[block][1]
    except:
        pass

In [54]:
df.close_direction_highest.value_counts()

close_direction_highest
Down     5574
Up       5492
Equal     429
Name: count, dtype: int64

In [56]:
df.close_direction_2nd_highest.value_counts()

close_direction_2nd_highest
Down     4937
Up       4750
Equal     380
Name: count, dtype: int64

In [49]:
df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price,close_direction_highest,bar_with_greatest_total_vol,close_direction_2nd_highest,bar_with_2nd_greatest_total_vol
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,1619.0,1881.0,3500.0,369.0,477.0,-108.0,Up,0.0,Down,1.0
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,1619.0,1881.0,3500.0,369.0,477.0,-108.0,Up,0.0,Down,1.0
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,1353.0,1776.0,3129.0,256.0,1042.0,-786.0,Up,0.0,NaN,NaN
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,1353.0,1776.0,3129.0,256.0,1042.0,-786.0,Up,0.0,NaN,NaN
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0,Up,0.0,NaN,NaN
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0,Up,0.0,NaN,NaN
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0

In [ ]:
for i in range(len(df)):
    block = df.loc[i, 'block_id']
    if df.loc[i,'close_direction_highest'] == 'Equal':
        df.loc[i,'divergence_of_highest_vol'] = None
    elif (df.loc[i,'close_direction_highest'] == 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_sell_vol.iloc[0] > df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_buy_vol.iloc[0]) or (df.loc[i,'close_direction_highest'] != 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_sell_vol.iloc[0] < df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_buy_vol.iloc[0]):
        df.loc[i,'divergence_of_highest_vol'] = True
    else: 
        df.loc[i,'divergence_of_highest_vol'] = False
    try:
        if df.loc[i,'close_direction_2nd_highest'] == 'Equal':
            df.loc[i,'divergence_of_2nd_highest_vol'] = None
        elif (df.loc[i,'close_direction_2nd_highest'] == 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_sell_vol.iloc[0] > df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_buy_vol.iloc[0]) or (df.loc[i,'close_direction_2nd_highest'] != 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_sell_vol.iloc[0] < df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_buy_vol.iloc[0]):
            df.loc[i,'divergence_of_2nd_highest_vol'] = True
        else: 
            df.loc[i,'divergence_of_2nd_highest_vol'] = False
    except:
        pass

df.tail(10)

In [52]:
df.divergence_of_highest_vol.value_counts()

divergence_of_highest_vol
False    7872
True     3194
Name: count, dtype: int64

In [53]:
df.divergence_of_2nd_highest_vol.value_counts()

divergence_of_2nd_highest_vol
False    7469
True     2218
Name: count, dtype: int64

In [57]:
for i in df.index:
    block = df.loc[i,'block_id']
    block_df = df[df.block_id == block]
    if len(block_df[block_df.bar_number == -1].bar_total_vol) > 0:
        total_vol_breakout = block_df[block_df.bar_number == -1].bar_total_vol.iloc[0]
        df.loc[i,'total_vol_breakout'] = total_vol_breakout

df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price,close_direction_highest,bar_with_greatest_total_vol,close_direction_2nd_highest,bar_with_2nd_greatest_total_vol,divergence_of_highest_vol,divergence_of_2nd_highest_vol,total_vol_breakout
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,1619.0,1881.0,3500.0,369.0,477.0,-108.0,Up,0.0,Down,1.0,False,False,3290.0
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,1619.0,1881.0,3500.0,369.0,477.0,-108.0,Up,0.0,Down,1.0,False,False,3290.0
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,1353.0,1776.0,3129.0,256.0,1042.0,-786.0,Up,0.0,NaN,NaN,True,NaN,5440.0
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,1353.0,1776.0,3129.0,256.0,1042.0,-786.0,Up,0.0,NaN,NaN,True,NaN,5440.0
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0,Up,0.0,NaN,NaN,False,NaN,7288.0
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,8600.0,8150.0,16750.0,2128.0,2413.0,-285.0,Up,0.0,NaN,NaN,False,NaN,7288.0
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0,False,False,5339.0
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0,False,False,5339.0
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0,False,False,5339.0
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,11746.0,13125.0,24871.0,2056.0,3178.0,-1122.0,Down,0.0,Up,2.0,False,False,5339.0

In [58]:
df.columns

Index(['bar_time', 'bar_number', 'block_id', 'type', 'price0', 'buy0', 'sell0',
       'price1', 'buy1', 'sell1', 'price2', 'buy2', 'sell2', 'price3', 'buy3',
       'sell3', 'price4', 'buy4', 'sell4', 'price5', 'buy5', 'sell5', 'price6',
       'buy6', 'sell6', 'open', 'high', 'low', 'close', 'upper_dist',
       'lower_dist', 'bar_buy_vol', 'bar_sell_vol', 'bar_total_vol',
       'bock_buy_vol', 'bock_sell_vol', 'bock_total_vol',
       'buy_vol_at_high_price', 'sell_vol_at_high_price',
       'vol_diff_at_high_price', 'close_direction_highest',
       'bar_with_greatest_total_vol', 'close_direction_2nd_highest',
       'bar_with_2nd_greatest_total_vol', 'divergence_of_highest_vol',
       'divergence_of_2nd_highest_vol', 'total_vol_breakout'],
      dtype='object')

In [59]:
df.to_csv('calculated_bar_data_sample_set1.csv', index=False)

# Set 2 (including -1 bars)

In [60]:
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
df =  pd.read_csv('bar_data_03-2023_thru_07-2023.csv')
df.head(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist
0,2023-03-01 09:38:11,0,2023-03-01 09:38:11,M,3963.50,0,177,3963.75,245,163,3964.00,280,118,3964.25,532,300,3964.50,601,354,3964.75,685,70,3965.00,332,0,3963.75,3965.00,3963.50,3965.00,11.75,9.00
1,2023-03-01 09:38:30,-1,2023-03-01 09:38:11,M,3965.25,74,0,3965.50,136,0,3965.75,103,111,3966.00,213,720,3966.25,1144,763,3966.50,678,116,3966.75,88,0,3965.25,3966.75,3965.25,3966.75,11.75,9.00
2,2023-03-01 09:40:46,0,2023-03-01 09:40:46,M,3964.75,0,107,3965.00,281,28,3965.25,41,76,3965.50,203,139,3965.75,167,225,3966.00,298,66,3966.25,326,0,3965.75,3966.25,3964.75,3966.25,9.25,11.25
3,2023-03-01 09:40:51,-1,2023-03-01 09:40:46,M,3966.50,279,10,3966.75,239,264,3967.00,424,55,3967.25,285,6,3967.50,162,0,3967.75,30,0,3968.00,106,0,3966.50,3968.00,3966.50,3968.00,9.25,11.25
4,2023-03-01 09:55:32,0,2023-03-01 09:55:32,M,3966.25,0,24,3966.50,51,247,3966.75,385,315,3967.00,261,347,3967.25,310,349,3967.50,450,258,3967.75,59,0,3966.50,3967.75,3966.25,3967.75,9.25,10.25
5,2023-03-01 09:56:12,1,2023-03-01 09:55:32,M,3967.50,0,21,3967.75,25,239,3968.00,385,275,3968.25,444,90,3968.50,171,239,3968.75,147,59,3969.00,91,0,3968.00,3969.00,3967.50,3967.50,9.25,10.25
6,2023-03-01 09:57:00,2,2023-03-01 09:55:32,M,3966.75,0,74,3967.00,27,87,3967.25,0,144,3967.50,299,369,3967.75,320,223,3968.00,122,11,3968.25,3,0,3967.25,3968.25,3966.75,3966.75,9.25,10.25
7,2023-03-01 09:57:15,3,2023-03-01 09:55:32,M,3966.25,0,53,3966.50,0,170,3966.75,89,87,3967.00,88,144,3967.25,104,29,3967.50,40,8,3967.75,7,0,3966.50,3967.75,3966.25,3966.25,9.25,10.25
8,2023-03-01 09:57:34,4,2023-03-01 09:55:32,M,3965.00,0,243,3965.25,1,140,3965.50,7,197,3965.75,1,235,3966.00,126,616,3966.25,487,220,3966.50,89,0,3966.00,3966.50,3965.00,3965.00,9.25,10.25
9,2023-03-01 09:57:47,5,2023-03-01 09:55:32,M,3964.25,0,46,3964.50,35,122,3964.75,53,510,3965.00,319,108,3965.25,88,9,3965.50,31,0,3965.75,63,0,3964.75,3965.75,3964.25,3965.75,9.25,10.25

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495 entries, 0 to 11494
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bar_time    11495 non-null  object
 1   bar_number  11495 non-null  int64
 2   block_id    11495 non-null  object
 3   type        11495 non-null  object
 4   price0      11495 non-null  float64
 5   buy0        11495 non-null  int64
 6   sell0       11495 non-null  int64
 7   price1      11495 non-null  float64
 8   buy1        11495 non-null  int64
 9   sell1       11495 non-null  int64
 10  price2      11495 non-null  float64
 11  buy2        11495 non-null  int64
 12  sell2       11495 non-null  int64
 13  price3      11495 non-null  float64
 14  buy3        11495 non-null  int64
 15  sell3       11495 non-null  int64
 16  price4      11495 non-null  float64
 17  buy4        11495 non-null  int64
 18  sell4       11495 non-null  int64
 19  price5      11495 non-null  float64
 20  buy5        11495 non-null  int64
 21  sell5       11495 non-null  int64
 22  price6      11495 non-null  float64
 23  buy6        11495 non-null  int64
 24  sell6       11495 non-null  int64
 25  open        11495 non-null  float64
 26  high        11495 non-null  float64
 27  low         11495 non-null  float64
 28  close       11495 non-null  float64
 29  upper_dist  11495 non-null  float64
 30  lower_dist  11495 non-null  float64
dtypes: float64(13), int64(15), object(3)
memory usage: 2.7+ MB

In [62]:
df['bar_buy_vol'] = df['buy0']
df['bar_sell_vol'] = df['sell0']

for idx in range(1,7):
    df['bar_buy_vol'] += df[f'buy{idx}']
    df['bar_sell_vol'] += df[f'sell{idx}']

df['bar_total_vol'] = df['bar_buy_vol'] + df['bar_sell_vol']

for i in df.index:
    block_df = df[df.block_id == df.loc[i,'block_id']]

    grouped_block_buy_vol = block_df['bar_buy_vol'].sum()
    grouped_block_sell_vol = block_df['bar_sell_vol'].sum()

    total_block_vol = grouped_block_buy_vol + grouped_block_sell_vol

    df.loc[i,'bock_buy_vol'] = grouped_block_buy_vol
    df.loc[i,'bock_sell_vol'] = grouped_block_sell_vol
    df.loc[i,'bock_total_vol'] = total_block_vol

In [63]:
block_vol_profiles = {}

for block in df.block_id.unique():
    block_vol_profile = pd.DataFrame()
    block_df = df[df.block_id == block]
    bar_prices = {}
    for bar_number in block_df.bar_number:
        prices = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'price' in col]].T.iloc[:,0].to_list()
        buys = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'buy' in col and '_' not in col]].T.iloc[:,0].to_list()
        sells = block_df[block_df.bar_number == bar_number][[col for col in block_df if 'sell' in col and '_' not in col]].T.iloc[:,0].to_list()
        for price, buy, sell in zip(prices, buys, sells):

            try:
                block_vol_profile.loc[price,'buy'] += buy
            except:
                block_vol_profile.loc[price,'buy'] = buy

            block_vol_profile.fillna(0, inplace=True)
            
            try:
                block_vol_profile.loc[price,'sell'] += sell
            except:
                block_vol_profile.loc[price,'sell'] = sell

            # Update the total volume entry for the current price.
            try:
                block_vol_profile.loc[price, 'total_vol'] += buy + sell
            except:
                block_vol_profile.loc[price, 'total_vol'] = buy + sell
        
    block_vol_profile.fillna(0, inplace=True)
    block_vol_profile.reset_index(inplace=True)
    block_vol_profile.rename(columns={'index':'prices'},inplace=True)
    block_vol_profiles[block] = block_vol_profile

In [64]:
block_vol_profiles['2023-07-31 14:59:28']

     prices     buy    sell  total_vol
0   4611.50   173.0   462.0      635.0
1   4611.75   323.0   327.0      650.0
2   4612.00   438.0  4666.0     5104.0
3   4612.25  2367.0  2167.0     4534.0
4   4612.50  2056.0  3178.0     5234.0
5   4612.75  1682.0   888.0     2570.0
6   4613.00  1454.0   339.0     1793.0
7   4611.25     0.0     2.0        2.0
8   4613.25   278.0    94.0      372.0
9   4613.50  1258.0  1002.0     2260.0
10  4613.75  1347.0     2.0     1349.0
11  4614.00   563.0   139.0      702.0
12  4614.25   615.0   577.0     1192.0
13  4614.50   616.0   223.0      839.0
14  4614.75   853.0    27.0      880.0
15  4615.00   665.0   135.0      800.0
16  4615.25  1294.0     0.0     1294.0

In [65]:
df['buy_vol_at_high_price'] = 0
df['sell_vol_at_high_price'] = 0
df['vol_diff_at_high_price'] = 0

for idx in range(len(df)):
    block_id = df.loc[idx,'block_id']
    block_profile = block_vol_profiles[block_id]
    max_price = block_profile.total_vol.max()
    df.loc[idx,'buy_vol_at_high_price'] = block_profile[block_profile.total_vol == max_price].buy.iloc[0]
    df.loc[idx,'sell_vol_at_high_price'] = block_profile[block_profile.total_vol == max_price].sell.iloc[0]
    df.loc[idx,'vol_diff_at_high_price'] = df.loc[idx,'buy_vol_at_high_price'] - df.loc[idx,'sell_vol_at_high_price']

In [66]:
df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,2925.0,3865.0,6790.0,488,476,12
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,2925.0,3865.0,6790.0,488,476,12
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,4111.0,4458.0,8569.0,735,685,50
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,4111.0,4458.0,8569.0,735,685,50
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,12363.0,11675.0,24038.0,2128,2413,-285
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,12363.0,11675.0,24038.0,2128,2413,-285
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,15982.0,14228.0,30210.0,2056,3178,-1122
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,15982.0,14228.0,30210.0,2056,3178,-1122
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,15982.0,14228.0,30210.0,2056,3178,-1122
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,15982.0,14228.0,30210.0,2056,3178,-1122

In [67]:
close_directions = {}

for block in df.block_id.unique():
    block_df = df[df.block_id == block]
    bar_number = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'bar_number']
    close_direction = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'close'] - block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[0,'open']
    if close_direction > 0 :
        close_directions[block] = ['Up', bar_number]
    elif close_direction < 0:
        close_directions[block] = ['Down', bar_number]
    else:
        close_directions[block] = ['Equal', bar_number]


close_directions_2 = {}

for block in df.block_id.unique():
    block_df = df[df.block_id == block]
    bar_number = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'bar_number']
    close_direction = block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'close'] - block_df.sort_values(by='bar_total_vol', ascending=False).reset_index().loc[1,'open']
    if close_direction > 0 :
            close_directions_2[block] = ['Up', bar_number]
    elif close_direction < 0:
        close_directions_2[block] = ['Down', bar_number]
    else:
        close_directions_2[block] = ['Equal', bar_number]

In [68]:
for i in range(len(df)):
    block = df.loc[i,'block_id']
    df.loc[i, 'close_direction_highest'] = close_directions[block][0]
    df.loc[i, 'bar_with_greatest_total_vol'] = close_directions[block][1]
    df.loc[i, 'close_direction_2nd_highest'] = close_directions_2[block][0]
    df.loc[i, 'bar_with_2nd_greatest_total_vol'] = close_directions_2[block][1]

In [69]:
df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price,close_direction_highest,bar_with_greatest_total_vol,close_direction_2nd_highest,bar_with_2nd_greatest_total_vol
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,2925.0,3865.0,6790.0,488,476,12,Down,-1.0,Up,0.0
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,2925.0,3865.0,6790.0,488,476,12,Down,-1.0,Up,0.0
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,4111.0,4458.0,8569.0,735,685,50,Up,-1.0,Up,0.0
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,4111.0,4458.0,8569.0,735,685,50,Up,-1.0,Up,0.0
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,12363.0,11675.0,24038.0,2128,2413,-285,Up,0.0,Up,-1.0
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,12363.0,11675.0,24038.0,2128,2413,-285,Up,0.0,Up,-1.0
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0

In [ ]:
for i in range(len(df)):
    block = df.loc[i, 'block_id']
    if df.loc[i,'close_direction_highest'] == 'Equal':
        df.loc[i,'divergence_of_highest_vol'] = None
    elif (df.loc[i,'close_direction_highest'] == 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_sell_vol.iloc[0] > df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_buy_vol.iloc[0]) or (df.loc[i,'close_direction_highest'] == 'Down' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_sell_vol.iloc[0] < df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_greatest_total_vol']].bar_buy_vol.iloc[0]):
        df.loc[i,'divergence_of_highest_vol'] = True
    else: 
        df.loc[i,'divergence_of_highest_vol'] = False
        
    if len(df[df.block_id == block]) > 1:
        if df.loc[i,'close_direction_2nd_highest'] == 'Equal':
            df.loc[i,'divergence_of_2nd_highest_vol'] = None
        elif (df.loc[i,'close_direction_2nd_highest'] == 'Up' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_sell_vol.iloc[0] > df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_buy_vol.iloc[0]) or (df.loc[i,'close_direction_2nd_highest'] == 'Down' and df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_sell_vol.iloc[0] < df[df.block_id == block][df.bar_number == df.loc[i,'bar_with_2nd_greatest_total_vol']].bar_buy_vol.iloc[0]):
            df.loc[i,'divergence_of_2nd_highest_vol'] = True
        else: 
            df.loc[i,'divergence_of_2nd_highest_vol'] = False

df.tail(10)

In [72]:
for i in df.index:
    block = df.loc[i,'block_id']
    block_df = df[df.block_id == block]
    if len(block_df[block_df.bar_number == -1].bar_total_vol) > 0:
        total_vol_breakout = block_df[block_df.bar_number == -1].bar_total_vol.iloc[0]
        df.loc[i,'total_vol_breakout'] = total_vol_breakout

df.tail(10)

,bar_time,bar_number,block_id,type,price0,buy0,sell0,price1,buy1,sell1,price2,buy2,sell2,price3,buy3,sell3,price4,buy4,sell4,price5,buy5,sell5,price6,buy6,sell6,open,high,low,close,upper_dist,lower_dist,bar_buy_vol,bar_sell_vol,bar_total_vol,bock_buy_vol,bock_sell_vol,bock_total_vol,buy_vol_at_high_price,sell_vol_at_high_price,vol_diff_at_high_price,close_direction_highest,bar_with_greatest_total_vol,close_direction_2nd_highest,bar_with_2nd_greatest_total_vol,divergence_of_highest_vol,divergence_of_2nd_highest_vol,total_vol_breakout
11485,2023-07-31 14:45:57,1,2023-07-31 14:45:31,S,4601.75,0,47,4602.00,0,64,4602.25,69,172,4602.50,124,170,4602.75,112,117,4603.00,0,62,4603.25,14,0,4603.25,4603.25,4601.75,4601.75,2.25,7.50,319,632,951,2925.0,3865.0,6790.0,488,476,12,Down,-1.0,Up,0.0,False,False,3290.0
11486,2023-07-31 14:46:43,-1,2023-07-31 14:45:31,S,4600.00,0,339,4600.25,78,291,4600.50,488,476,4600.75,259,130,4601.00,190,271,4601.25,258,321,4601.50,33,156,4601.50,4601.50,4600.00,4600.00,3.00,6.75,1306,1984,3290,2925.0,3865.0,6790.0,488,476,12,Down,-1.0,Up,0.0,False,False,3290.0
11487,2023-07-31 14:51:10,0,2023-07-31 14:51:10,S,4601.00,0,113,4601.25,256,1042,4601.50,589,227,4601.75,190,25,4602.00,172,253,4602.25,67,116,4602.50,79,0,4601.75,4602.50,4601.00,4602.50,3.00,6.75,1353,1776,3129,4111.0,4458.0,8569.0,735,685,50,Up,-1.0,Up,0.0,False,True,5440.0
11488,2023-07-31 14:52:30,-1,2023-07-31 14:51:10,S,4602.50,0,108,4602.75,193,538,4603.00,545,647,4603.25,735,685,4603.50,742,553,4603.75,297,151,4604.00,246,0,4602.75,4604.00,4602.50,4604.00,3.00,6.75,2758,2682,5440,4111.0,4458.0,8569.0,735,685,50,Up,-1.0,Up,0.0,False,True,5440.0
11489,2023-07-31 14:55:23,0,2023-07-31 14:55:23,M,4604.00,0,510,4604.25,921,1792,4604.50,2015,1658,4604.75,2128,2413,4605.00,1766,1108,4605.25,1190,669,4605.50,580,0,4604.25,4605.50,4604.00,4605.50,7.00,3.00,8600,8150,16750,12363.0,11675.0,24038.0,2128,2413,-285,Up,0.0,Up,-1.0,False,False,7288.0
11490,2023-07-31 14:56:01,-1,2023-07-31 14:55:23,M,4605.50,0,3,4605.75,679,897,4606.00,972,392,4606.25,685,909,4606.50,565,1298,4606.75,567,26,4607.00,295,0,4605.75,4607.00,4605.50,4607.00,7.00,3.00,3763,3525,7288,12363.0,11675.0,24038.0,2128,2413,-285,Up,0.0,Up,-1.0,False,False,7288.0
11491,2023-07-31 14:59:28,0,2023-07-31 14:59:28,R,4611.50,0,450,4611.75,45,326,4612.00,123,4572,4612.25,2034,1870,4612.50,924,481,4612.75,490,460,4613.00,576,0,4612.50,4613.00,4611.50,4611.50,6.75,7.50,4192,8159,12351,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0,False,False,5339.0
11492,2023-07-31 14:59:34,1,2023-07-31 14:59:28,R,4611.25,0,2,4611.50,173,12,4611.75,278,1,4612.00,315,94,4612.25,333,297,4612.50,1132,2649,4612.75,776,0,4611.25,4612.75,4611.25,4612.75,6.75,7.50,3007,3055,6062,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0,False,False,5339.0
11493,2023-07-31 14:59:39,2,2023-07-31 14:59:28,R,4612.50,0,48,4612.75,416,428,4613.00,878,339,4613.25,278,94,4613.50,1258,1002,4613.75,1347,0,4614.00,370,0,4613.00,4614.00,4612.50,4614.00,6.75,7.50,4547,1911,6458,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0,False,False,5339.0
11494,2023-07-31 14:59:43,-1,2023-07-31 14:59:28,R,4613.75,0,2,4614.00,193,139,4614.25,615,577,4614.50,616,223,4614.75,853,27,4615.00,665,135,4615.25,1294,0,4614.25,4615.25,4613.75,4615.25,6.75,7.50,4236,1103,5339,15982.0,14228.0,30210.0,2056,3178,-1122,Down,0.0,Up,2.0,False,False,5339.0

In [73]:
df.to_csv('calculated_bar_data_sample_set2.csv', index=False)